#btn-hamburguer{
    display: none;
}

@media (max-width: 800px){

    #btn-hamburguer{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    .containerNav{
        display: flex;
        justify-content: space-around;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 6rem;
        right: 0;
        background: var(--black);
        backdrop-filter: blur(10px);
        z-index: 1000;
        height: 0;
        transition: 0.3s;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #navbar.active #menu{
        height: calc(100vh - 6rem);
        visibility: visible;
        overflow-y: auto;
        padding: 0;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 0.1rem solid var(--yellow);
    }

    #hamburguer{
        border-top: 0.1rem solid;
        width: 1.5rem;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 2rem;
        height: 0.1rem;
        background: var(--yellow);
        margin-top: 0.2rem;
        transition: .4s;
        position: relative;
    }

    #navbar.active #hamburguer{
        border-top-color: transparent;
    }
    #navbar.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -6px;
    }
    #navbar.active #hamburguer::before{
        transform: rotate(135deg);
    }
}

@media (max-width: 750px){
    
    main{
        padding: 10vh 8vw;
    }

    #servicos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card, .cardDif{
        border: 0.2rem solid var(--yellow);
        max-width: calc(100% - 0.75rem);
        box-shadow: 0.0rem 0.0rem 0rem var(--black);
    }
    #diferenciais{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contato{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #contato .redes{
        padding: 1rem;
        align-self: center;
        width: 90vw;
        margin: 0;
    }

    .logo{
        width: 90vw;
    }

    .direct{ 
        flex-direction: column;
    }

    .direct a:last-child{
        padding-left: 0;
        margin-bottom: 1rem;
    }

    .form{
        width: 100vw;
    }

    .cowork{
        display: flex;
        flex-direction: column;
    }

    .hero{
        width: 90vw;
    }

    .ctaInicio{
        height: 80vh;
    }

    .inicio .titleHero{
        width: 80vw;
        text-align: center;
        font-size: 1.5rem;
    }
}